<div class="container">
  <h1 class="text-center m-5">Welcome to Sketchy</h1>
  <h2 class="text-center m-5">A place to post art work</h2>
  <div class="container">
    <div class="d-flex justify-content-center">
      <a href="/login" class="btn btn-primary">Login  <i class="fas fa-sign-in-alt"></i></a>
    </div>
    <h3 class="text-center m-5">or</h3>
    <div class="d-flex justify-content-center">
      <a href="/register" class="btn btn-primary">Register  <i class="fas fa-user-plus"></i></a>
    </div>
  </div>
</div>